body {
  margin: 0 auto;
  box-sizing: border-box;
}

.container {

  width: 80vw;
  margin: 3em auto;
  box-sizing: border-box;
  color: darkblue;
}

#top-artists-list {
  width: 100%;
  margin: auto;
}

/*************
  TYPOGRAPHY
  ************/

h1 {
  display: inline-block;
  transform: rotate(-10deg);
  color: darkred;
}

h2 {
  margin-top: 0;
  margin-left: 2em;
  margin-bottom: 1.8em;
}

h3 {
  color: rgb(1, 1, 59);
}

small {
  display: inline-block;
  margin-left: 1em;
}

a {
  text-decoration: none;
}

/*******************
 custom styles
 ******************/
.country-input {
  font-size: 1.2em;
  width: 60vw;
}

input[type='text'] {
  display: block;
  margin: 1em 0;
  padding: 0.3em 0.5em;
  font-size: 1em;
  width: 100%;
  box-shadow: 1px 1px 1px 0px rgba(0, 0, 0, 0.5);
}

.show-countries-list {
  margin-top: -1em;
  list-style: none;
  background-color: rgb(232, 238, 240);
  border: 0.5px solid lightblue;
}

.country-li {
  padding: 0.5em;
  margin-left: -2.1em;

}

.country-li:hover {
  background-color: rgb(215, 222, 224);
  border: 1px solid lightblue;
}

.artist-card {
  display: grid;
  grid-template-columns: 2.5em 1fr 3fr;
  grid-template-areas: "position img name";
  max-width: 600px;
  /* border: 1px dotted black; */
  margin: 1em;
}

.artist-card {
  -webkit-box-shadow: 4px 4px 5px 0px rgba(0, 0, 0, 0.46);
  -moz-box-shadow: 4px 4px 5px 0px rgba(0, 0, 0, 0.46);
  box-shadow: 4px 4px 5px 0px rgba(0, 0, 0, 0.46);
}



.artist-position {
  grid-area: position;

}

.artist-position p {

  text-align: center;
  color: darkblue;
  font-size: 2em;
  padding: 0.5em 0;
  margin: 0;
  font-weight: 500;

}

.artist-name {
  grid-area: name;
  justify-self: start;
  align-self: center;
  padding-left: 1em;

}

img {
  grid-area: img;
}



.artist-name a {
  font-size: 1.2em;
  color: darkblue;
}

.artist-name a:hover {
  font-size: 1.3em;
  text-decoration-line: underline;
}


/* media quries */
@media (min-width: 455px) {
  .artist-card {
    grid-template-columns: 4em 1fr 3fr;
  }


}

@media (min-width: 650px) {
  h1 {
    font-size: 3em;
  }

  .country-input {
    width: 25em;
  }

  .artist-card {
    grid-template-columns: 174px 1fr;
    grid-template-rows: 1fr 1fr;
    grid-template-areas: " img  position"
      "img name";
    margin: 2em;
  }

  .artist-name {
    font-size: 1.8em;
    justify-self: start;
  }

  .artist-position {
    max-height: 70px;
    background: rgb(226, 86, 86);
    background: linear-gradient(to bottom, rgba(131, 1, 1, 0.7) 0%, rgba(241, 16, 16, 0.5) 100%);

  }

  .artist-position h3 {
    margin-left: 1em;
    font-size: 1.8em;

  }

}